<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PhoneAuthActivity"
            android:exported="false"
            android:label="@string/title_activity_phone_auth"
            android:theme="@style/Theme.CleanArchProject">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>